<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<div>
  <h5>Use Your existing email Id to login or create account with us</h5>
</div>
<div style="height:50px">

</div>
  <ion-list *ngIf="!show">
    <ion-item>
      <ion-label position="floating">Enter Email ID</ion-label>
      <ion-input #email type="text"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label position="floating">Enter Password</ion-label>
     <ion-input #password type="password"></ion-input>
   </ion-item>
   <ion-button size="full" (click)="doLogin(email,password)">Login</ion-button>
   <ion-button size="full" fill="outline" (click)="showSignUp()">New User? SignUp</ion-button>
 </ion-list>

  <ion-list *ngIf="show">
  <ion-item>
    <ion-label position="floating">Enter Email ID</ion-label>
    <ion-input #email type="text"></ion-input>
  </ion-item>
  <ion-item>
   <ion-label position="floating">Enter Password</ion-label>
   <ion-input #password type="password"></ion-input>
 </ion-item>
 <ion-button size="full" (click)="doSignUp(email,password)">SignUp</ion-button>
 <ion-button size="full" fill="outline" (click)="showLogin()">Already a User? Login</ion-button>
</ion-list>
</ion-content>