<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item *ngFor="let c of contacts " (click)="call(c)" >
      {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>
